<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/commen.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <%- include('./commen/head') %>
    <div class="menu">
        <%- include('./commen/menu') %>
        <div class="menu-right">
            <form class="menu-form user-menu" action="/users/search" method="POST">
                <label>
                    <input name="name" type="text">                   
                </label>
                <button class="searchShow">搜索</button>
                <a class="outSeach" href="/users">退出搜索</a>
            </form>
            用户管理
            <table class="table table-striped table-bordered table-hover menu-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>是否管理员</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < list.length; i++) {%>
                            <tr>
                                    <th scope="row"><%= i+1 %></th>
                                    <td><%= list[i].username %></td>
                                    <td><%= list[i].password %></td>
                                    <td><%= list[i].nickname %></td>
                                    <td><%= list[i].sex %></td>
                                    <td><%= list[i].age %></td>
                                    <td><%= list[i].isAdmin %></td>
                                    <td>
                                        <a href="#" class="cicle">修改</a>
                                        <% if (!list[i].isAdmin) {%>
                                            <a class="cicle" href="/users/delet?id=<%= list[i]._id %>">删除</a>
                                        <%} %>
                                    </td>
                            </tr>
                    <%}%>
                </tbody>
            </table>
            <nav class="menu-nav">
                <ul class="pagination menunav-li">
                    <li>
                        <a href="/users?page=<%= currentPage - 1 < 1 ? 1: currentPage - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% for (var i=0;i<totalPage;i++) {%>
                        <li class="<%= currentPage === (i+1) ? 'active': '' %>"><a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize %>"><%= i + 1%></a></li>
                    <%}%>
                    <li>
                        <a href="/users?page=<%= currentPage + 1>totalPage ? totalPage:currentPage + 1 %>&pageSize=<%= pageSize %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <%- include('./commen/foot') %>

    <script src="/js/jquery.js"></script>
    <script src="/js/user.js"></script>
</body>
</html>